# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Editor/IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints

# macOS
.DS_Store

# Test
.pytest_cache/

# Data/artifacts (ignore large binary outputs)
artifacts/
*.npy
*.npz
tfidf_matrix.npz

# Logs
*.log

# Ignore compiled C extensions
*.so
